
.wrapper{
    max-width: 1024px;
    margin: 0 auto;
    align-items: center;
}
header {
    background-color: #F5F5DC;
	width: 100%; /*ширина*/
    height: 350px; /*высота*/   
    margin: 0;
    padding: 0;
}
.name{
    text-align: center;
    
}
.main_photo{
    float: left;
    height: 350px;
}
.summary {
    text-align: center;
}
.scontent{
    text-align: justify;
    margin-left: 550px;
}
body{
    margin-top: 0px;
}
.cdata {
    margin: 0px;
    text-align: center;
}
.cdata li{
    font: 24px;

}
h2 {
    margin: 0px;
    text-align: center;
}
a {
    text-decoration: none;
    color: blue;
    font-weight: bold;
}
.skills {
    background-color: #FDF4E3;
}
.code__photo {
    width: 1024px;
    height: auto;
}
.code {
    background-color: rgb(208, 224, 202);
    margin-top: 0em;
    padding-top: 0em;
}
ul {
    margin-bottom: 0em;
}
.LVL {
    width: 69%; 
    background-color: #f44336;
    text-align: center;
}   

* {box-sizing: border-box}

.container {
  width: 100%;
  background-color: #ddd;
}

.skill {
  text-align: right;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
}
